{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block section %}

{% for error in errors %}
<p>{{ error }}</p>
{% endfor %}

<div class="container text-center">
    <form method="post" class="form-signin">
        <div class="row-fluid">
            {% csrf_token %}
            <div class="col-md-12 well">
                <h2 class="form-signin-heading"><i class="fa fa-user-plus fa-2x"></i> User registration</h2>
                <hr>
                <table class="table table-bordered">
                    {{ form.as_table }}
                    <tr>
                        <th>
                            <label for="blog_name">Blog Name:</label>
                        </th>
                        <td>
                            <input id="blog_name" maxlength="128" name="blog_name" type="text" required>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="blog_sdescription">Blog Short Desc:</label>
                        </th>
                        <td>
                            <input id="blog_sdescription" maxlength="128" name="blog_sdescription" type="text" required>
                        </td>
                    </tr>
                </table>
                <p class="">
                    <a href="{% url 'blogs_home' %}"><button class="btn btn-info" type="button"><i class="fa fa-home"></i> Go Home</button></a>&nbsp;&nbsp;<button class="btn btn-success" type="submit"><i class="fa fa-user"></i> Register!</button>
                </p>
                {% if success_message|length > 0  %}
                <p>
                    <div class="alert alert-success" role="alert">{{success_message}}</div>
                </p>
                {% endif %}


            </div>
        </div>
    </form>
</div>
{% endblock %}