{% extends 'base.html' %}

{% block title %} New Post {% endblock %}

{% block section %}

{% if success_message %}
    <p>
        <div class="alert alert-success" role="alert">{{success_message|safe}}</div>
    </p>
{% endif %}

<div class="container text-center">
    <div class="row-fluid">
        <div class="col-md-12 text-left">
            <h1 class="well">Crear un Post!</h1>
            <form method="post">
                {% csrf_token %}
                <table>
                {{form.as_table}}
                </table>
                <p>&nbsp;</p>
                <p class="">
                    <a href="{% url 'blogs_home' %}"><button class="btn btn-info" type="button"><i class="fa fa-home"></i> Go Home</button></a>&nbsp;&nbsp;<button class="btn btn-success" type="submit"><i class="fa fa-newspaper-o"></i> Save Post!</button>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}